/*   GAME INTERFACE  */
@font-face {
    font-family: 'Chantilli';
    src: url("../../assets/fonts/chantelli_antiqua.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-size: cover;
    background: #464646 url("../../images/wallup-53677.jpg") no-repeat fixed center center;
}

#container {
    width: auto;
}

#left {
    width: 20%;
    height: 40px;
    float: left;
}

#middle {
    width: 60%;
    height: 40px;
    margin-left: 29%;
}

#middle img {
    width: 15%;
}

#right {
    height: 40px;
    width: 17%;
    float: right;
    margin-top: -40px;
}

.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

img {
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    width: 108px;
}

#deckCards {
    margin-left: auto;
    margin-right: auto;
}

#handCards {
    position: fixed;
    bottom: 0%;
    display: inline-block;
}

#handCards {
    width: 75%;
    margin-left: 2%;
}

#usernames {
    display: inline-block;
    position: absolute;
}

#victoryCards {
    margin-left: 80%;

}

#victoryCards img {
    width: 160%;
}

#right img {
    width: 30%;
    display: block;
}

#handCards img {
    width: 10%;
    padding-left: 1%;
}

#take {
    float: right;
}

#playMoney, #endTurn {
    font-family: 'Chantilli', "Times New Roman", serif;
    background-image: url(../media/speelKaartKnop.png);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 10px;
    cursor: pointer;
    height: 80px;
    width: 75px;
    position: absolute;
}

#playMoney {
    right: 285px;
    bottom: 15px;
}

#endTurn {
    right: 285px;
    bottom: 95px;
}


#playMoney:hover, #endTurn:hover {
    color:rgba(182, 181, 153, 2);
}

#remainingCards {
    position: absolute;
    bottom: 0px;
    margin-left: 98px;
    width: 82%;
}
