/*   GAME INTERFACE  */

body {
    background-size: cover;
    background: #464646 url("../../images/wallup-53677.jpg") no-repeat fixed center center;
}

#container {
    width: auto;
}

#left {
    width: 20%;
    height: 40px;
    float: left;
}

#middle {
    width: 60%;
    height: 40px;
    margin-left: 30.5%;
}

#right {
    width: 20%;
    height: 40px;
    float: right;
    margin-top: -40px;
    margin-right: 3%;
}

.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

img {
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    width: 150px;
}

#deckCards {
    margin-left: auto;
    margin-right: auto;
}

#handCards, #remainingCards {
    position: fixed;
    bottom: 0%;
    display: inline-block;
}

#usernames {
    display: inline-block;
    position: absolute;
}

#victoryCards {
    margin-left: 80%;
}

#treasureCards {

}